.boxxx{
    width: 100vw;
    height: 100vh;
}
.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    background: #191919;
    text-align: center;
    transition: 0.25s;
    border-radius: 20px;
}
label{
    color: white;
}
.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.forgot {
    text-decoration: underline
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0
}

ul.social-network li {
    display: inline;
    margin: 0 5px
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i {
    color: #fff
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s
}

.social-circle i {
    color: #fff;
    transition: all 0.8s;
    transition: all 0.8s
}


body{
    overflow: hidden;
}
main,footer,nav{
    filter:blur(5px);
}
#form-page{
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.form{
    z-index: 1000;
    width: 100vw;
    background: rgba(0, 0, 0, 0.329);
}

/* #bar-close-form{
    top: 3rem;
    right: 2rem;
    font-size: 2rem;
} */
.btn-image-input{
    width: 150px;
    height: 150px;
    border: 5px solid white;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    background: unset;
    transition: background .5s;
}
.add-image{
    height: 150px;
}
.btn-image-input:hover{
    background: white;
    color: grey;
}