*,html{
    margin: 0;
    padding: 0;
    box-sizing: border;
}

*,html,body{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif,Arial;
}
.v-hidden{
    visibility: hidden;
}
main{
    min-height: 100%;
}
td{
    font-weight: bold;
}
.table td, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    border-top: 1px solid none !important;

}