*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    font-size: 8vw;
    font-family: 'Dancing Script', cursive;
}